body {
  background-color: black;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  margin: 0px 50px;
  min-width: 320px;
}

/*@font-face {
  font-family: CenturyGothic;
  src: url(fonts/gothic.ttf);
}*/

h1, h2, h3, h4, h5, h6, p {
  color: white;
}

ul li {
  list-style: none;
}

ul{
  padding: 0px;
  margin: 0px;
}

* {
  box-sizing: border-box;
}

.centered {
    text-align: center;
}
.navbar-nav {
    width: 100%;
    text-align: center;
}
.navbar-nav > li {
  float: none;
  display: inline-block;
}
/*1 BLOCK*/
#golovna {
    padding-top: 55px;
    background: url(../img/photo_1.1.jpg) no-repeat;
    min-height: 644px;
    background-size: cover;
}
.btn.button-one, .btn.button-two {
    font-size: 1em;
    padding-right: 10%;
    padding-left: 10%;
    margin: 2%;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0);
}
.btn.button-one {
    padding-top: 0px;
    padding-bottom: 0px;
    color: orange;
    border: 4px solid orange;
}
.btn.button-two {
    color: greenyellow;
    border: 4px solid greenyellow;
}
.but-icon {
    font-size: 2.4em;
    padding-right: 0.5em;
}
.text-block1_1 h2 {
    margin-top: -0.5em;
    font-weight: bold;
    font-size: 3em;
}
/*2 BLOCK*/
#pro_tabir {
    padding-top: 55px;
    background: url(../img/photo_2.jpg) no-repeat;
    min-height: 644px;
    background-size: cover;
}
.text-block2_1 {
    background: yellow;
    height: 100%;
}
.text-block2_3 {
    background: blue;
    height: 100%;
}
.text-innerblock2_1 h1, .text-innerblock2_1 h4 {
    color: black;
}
.text-innerblock2_1 h1, .text-block2_3 h1 {
    font-size: 35px;
}
.text-innerblock2_1 h4, .text-block2_3 h4 {
    font-size: 20px;
}
.text-block2_2 h3 {
    margin-top: -0.5em;
    font-weight: bold;
}
.text-block2_3 h1, .text-block2_3 h4 {
    color: white;
}
table {
    width: 100%;
    color: orange;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    line-height: 1;
    border-top: 0px;
    border-bottom: 0px;
    vertical-align:middle;
}
.table > thead > tr > th {
    text-align: center;
}
table tr, table th, table td {
    font-size: 15px;
    text-align: center;

}
table th {
    font-size: 25px;
}
.table-backdown td {
    padding: 0em;
    margin: 0em;
}
.table tbody tr td {
    padding: 0.8em;
}
.table tbody tr td:nth-child(2) {
    border-bottom: 2px dashed orange;
    border-radius: 50%;
/*    padding: -10%;*/
}
.table tbody tr td span:nth-child(1) {
    border: 2px solid orange;
    border-radius: 100%;
    padding: 5px 10px;
}
.table tbody tr td:last-child(2) {
    border-bottom: 0px;
}
.table tbody tr td strong {
    border: 2px solid orange;
    padding: 0.2em;
}
.text-block2_4 p {
    margin-bottom: 20px;
}
.text-block2_4 p {color: orange;
}
/*3 BLOCK*/
#vas_ochikuye {
    padding-top: 25px;
    background: url(../img/photo_3.jpg) no-repeat;
    min-height: 644px;
    background-size: cover;
}
.block-icon {
    border: 4px solid orange;
    padding: 2em;
    margin: 0em 2em;
}
.block-icon img{
    height: 10em;
    padding-bottom: 2em;
}
.block3_1 {
    padding-left: 2em;
}
.block3_1 p{
    color: orange;
    text-align: left;
}

#rozporyadok {
    padding-top: 55px;
    min-height: 644px;
		background: url(../img/photo_4.jpg) no-repeat center;
		background-size: cover;
		color: white;
		font-size: 18px;
		font-family: Century Gothic;
}
.metro {
	  text-align: center;
		margin-bottom: 50px;
		text-transform: uppercase;
}
.brd {
	  border: 3px solid gold; /* Параметры границы */
		padding: 20px 50px 300px 50px;
		margin: 20px 100px 50px;
}
@media (max-width: 768px) {
    #rozporyadok{
      padding-top: 35px;
    }
    .metro{
      margin-bottom: 35px;
    }
    .brd {
     font-size: 17px;
     padding: 5px 0px 300px 0px;
     margin: 20px 15px 0px 15px;
    }
}
@media (max-width: 425px) {
    #rozporyadok{
      padding-top: 35px;
    }
    .brd {
     font-size: 16px;
     padding: 5px 0px 10px 0px;
     margin: 10px 15px 0px 15px;
    }
    .metro{
      margin-bottom: 25px;
    }
}
#aktyvnosti {
		padding-top: 55px;
		background: url(../img/fon12.jpg) no-repeat center;
		background-size: cover;
		color: white;
		font-family: Century Gothic;
    min-height: 500px;

}
/*.dotted {
    border-top: 4px dotted orange;
    border-left: 4px dotted orange;
    border-right: 4px dotted orange;
    margin: 0 45px;
}
.dottedin{
   border-bottom: 4px dotted orange;
   border-left: 4px dotted orange;
   border-right: 4px dotted orange;
   margin: 0 45px;
}*/
.aktyv{
    color: white;
    position: relative;
    bottom: 20px;
}
.aktyv-underline {
  text-decoration: underline;
	color: gold;
}
.ico-vo {
	margin: 0 auto;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.circle {
  border-radius: 50%;
  text-align: center;
  display: table-cell;
  overflow: hidden;
  vertical-align:middle;
  position: relative;
}
.circle span {
	position: absolute;
	top: 65px;
	left: 25px;
  right: 25px;
}
.pos_ten {
	position: absolute;
	top: 60px!important;
}
.image-tam {
	width: 100%;
	height: auto;
}
.text_center{
	font-weight: bold;
	font-size: 17px;
}
.ringo{
	margin-top: 70px;
}
.rin{
	margin-top: 25px;
	padding-bottom: 25px;
}
.ringos{
	margin-top: 35px;
}
.pos{
  font-size: strong;
  font-size: 17px;
}
.hb{
  position: absolute;
	top: 60px!important;
}
.qu{
  position: absolute;
	top: 60px!important;
}
.post {
  position: absolute;
	top: 70px!important;
}
.dix{
  position: absolute;
	top: 60px!important;
}
.ch{
  position: absolute;
	top: 60px!important;
}
.qu{
  position: absolute;
	top: 50px!important;
}
.delta{
	background: url(../img/fon124.jpg) no-repeat center;
	background-size: cover;
	color: white;
	font-family: Century Gothic;
	min-height: 500px;
}
@media (max-width: 768px) {
  .circle span {
  	position: absolute;
  	top: 30px!important;
  	left: 15px;
    right: 15px;
    font-size: 10px;
  }
}
@media (max-width: 425px) {
  .circle span {
  	position: absolute;
  	top: 110px!important;
  	left: 25px;
    right: 25px;
    font-size: 28px;
  }
}
#tsiny {
    padding-top: 55px;
    background: url(../img/photo_5.jpg) no-repeat center;
    min-height: 1000px;
}

/*------Registration section---------*/

.reg__section{
  position: relative;
  background: #202020;
  overflow: hidden;
}

.reg__background{
  position: absolute;
  font-size: 115px;
  opacity: .35;
  font-weight: bold;
}

.reg__background.one {
  top: -40px;
  left: 280px;
  letter-spacing: 20px;
}

.reg__background.two {
  top: 27px;
  left: 10px;
}

.reg__background.two {
  top: 27px;
  left: -20px;
  color: transparent;
  -webkit-text-stroke: 1px #fdcb32;
  opacity: .07;
  clip: rect(0px,1000px,200px,35px);
}

.reg__background.three {
  top: 150px;
  left: -19px;
  letter-spacing: 15px;
  font-size: 130px;
  clip: rect(0px,1000px,200px,35px);
}

.reg__background-wrapper{
  position: relative;
}

.dotted__circle{
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  border: 3px dotted #fdcb32;
  clip: rect(0px,50px,200px,0px);
  width: 100px;
  height: 100px;
  right: -35px;
  top: -50px;
}

.reg__heading{
  position: relative;
  margin-bottom: 2%;
  font-weight: bold;
  letter-spacing: .25em;
  font-size: 3.5em;
  z-index: 2;
}

.reg__heading.bordered{
  top: -70px;
  left: 3px;
  color: transparent;
  -webkit-text-stroke: 1px #fdcb32;
  z-index: 0;
}

.reg__column-heading{
  margin-bottom: -6em;
}

.reg__discount{
  font-weight: bold;
  letter-spacing: 1px;
}

.step__number{
  color: #fff;
/*  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;*/
  font-size: 6em;
}

.step__description{
  display: inline-block;
  color: #fdcb32;
  font-size: 27px;
  text-align: left;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 38px;
}

.reg__button{
  height: 25px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: 1px solid #fdcb32;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  height: 30px;
}

.reg__button a{
  text-decoration: none;
  color: #fdcb32;
  letter-spacing: 0.1em;
  font-size: 1.2em;
  padding: 0px 5px;
}

.reg__arrow{
  height: 170px;
}

.payment__description-two{
  font-size: 12px;
  color: #fdcb32;
  margin-top: -26px;
}

.reg__button.two{
  width: 175px;
  margin-bottom: 10px;
}

.reg__button.two a{
  letter-spacing: .05em;
  font-size: 1em;
}

/*Modal window start*/

#modal_form {
  width: 500px;
  height: 300px; /* Рaзмеры дoлжны быть фиксирoвaны */
  border-radius: 5px;
  border: 1px #fdcb32 solid;
  background: #202020;
  position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
  top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
  left: 50%; /* пoлoвинa экрaнa слевa */
  margin-top: -150px;
  margin-left: -250px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
  display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
  opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
  z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
  padding: 20px 10px;
}
/* Кнoпкa зaкрыть для тех ктo в тaнке) */
#modal_form #modal_close {
  color: #fff;
  width: 21px;
  height: 21px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: block;
}
/* Пoдлoжкa */
#overlay {
  z-index:0; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
  position:fixed; /* всегдa перекрывaет весь сaйт */
  background-color:#000; /* чернaя */
  opacity:0.8; /* нo немнoгo прoзрaчнa */
  -moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
  filter:alpha(opacity=80);
  width:100%;
  height:100%; /* рaзмерoм вo весь экрaн */
  top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
  left:0;
  cursor:pointer;
  display:none; /* в oбычнoм сoстoянии её нет) */
}

.modal__heading{
  display: inline-block;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 25px;
}

.modal__description{
  display: inline-block;
  color: #fdcb32;
  font-size: 20px;
  margin-bottom: 15px;
}

.modal__number{
  color: #fdcb32;
  font-size: 28px;
  font-weight: bold;
}
/*Modal window end*/

.payment__description-three{
  font-size: 12px;
  color: #fdcb32;
  margin-top: -26px;
  margin-bottom: 0px;
}

.step__three-email{
  color: #fdcb32;
  text-decoration: underline;
  font-weight: bold;
  letter-spacing: 1px;
}

.reg__thing-list{
  color: #fdcb32;
  text-decoration: underline;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 20px;
}

.reg__thing-list:hover{
  color: #fdcb32;
}

.reg__additional-info{
  color: #fdcb32;
  font-size: 10px;
  margin-bottom: 2em;
}

/*list page styles*/
.thing__list-block{
  margin-top: 5%;
}

.thing__list-block > h1{
  font-weight: bold;
  margin-bottom: 2%;
}

.list__items{
  color: #fdcb32;
  text-align: left;
  font-size: 18px;
}

.list__back > a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  border: 1px solid #fdcb32;
  padding: 5px 15px;
}

.list__back > a:hover {
  padding: 7px 20px;
}

/*------Photo section------*/

.photo_section{
  background: url(../img/Photo_7.jpg) no-repeat center;
}

.photo__heading {
  margin-bottom: 2%;
  font-weight: bold;
  letter-spacing: .3em;
  font-size: 3em;
/*  opacity: .9;*/
}

.carousel-inner{
  max-height: 350px;
  display: inline-block;
  text-align: center;
  -webkit-box-shadow: 7px 7px 59px 30px rgba(0,0,0,0.66);
  -moz-box-shadow: 7px 7px 59px 30px rgba(0,0,0,0.66);
  box-shadow: 7px 7px 59px 30px rgba(0,0,0,0.66);
  margin-bottom: 2%;
}

ul.thumbnails-carousel {
  padding: 15px 0 0 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
}

ul.thumbnails-carousel .center {
  display: inline-block;
}

ul.thumbnails-carousel li {
  float: left;
  cursor: pointer;
}

.controls-background-reset {
  background: none !important;
}

.indicators-fix {
  bottom: 70px;
}

li.thumbnails img{
  opacity: 0.8;
  max-height: 99px;
}

.col__thumbnail{
  margin-bottom: 2%;
}

.carousel-control.left, .carousel-control.right {
  background-image:none;
  filter:none;
  position: absolute;
  top: 16%;
}

.carousel-control.left img {
  width: 40%;
  transform: rotate(180deg);
}

.carousel-control.right img {
  width: 40%;
}


/*------Contact section------*/
.contact__section{
  background: url(../img/contact_background.png) no-repeat center;
  opacity: 0.9;
}

.contact__headind{
  margin-bottom: 2%;
  font-weight: bold;
  letter-spacing: .3em;
  font-size: 1.7em;
}

.contact_description{
  margin-bottom: 25px;
  letter-spacing: .1em;
  margin-bottom: 3%;
  letter-spacing: .1em;
}

.contact__info-block{
  margin-bottom: 3%;
}

ul.contact__list-phones li{
  color: #fff;
  border-right: 1px solid #fff;
  padding-right: 3.5%;
  letter-spacing: .2em;
}

ul.contact__list-social li img{
  width: 3.2em;
}

ul.contact__list-social li{
  display: inline-block;
  padding-right: 3.5%;
}

.contact__email{
  margin-bottom: 5%;
  font-size: 1.1em;
  letter-spacing: .2em;
}

  letter-spacing: .2em;
}

@media screen and (max-width: 790px) {

  .contact__phones{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    margin-left: 9%;
  }

  .contact__social{
    display: flex;
    justify-content: center;
    margin-left: 10%;
  }

  ul.contact__list-phones li{
    border-right: none;
    justify-content: space-around;
  }

  .contact__list-phones{
    width: 250px;
  }

  .contact__list-social{
    width: 200px;
  }

  .centering__block{
    display: none;
  }

}
>>>>>>> 406636d5cf30b163934bbe1135f3ac7bf19d461b
